/*
button {
    height: 80px;
    width: 80px;
}
*/
.step {
    height: 200px;
    width: 200px;
}

.timelineTickActive {
    height: 10px;
    width: 200px;
    background: #7F0000;
    padding: 0;
    display: inline-block;
}

.timelineTickInactive {
    height: 10px;
    width: 200px;
    padding: 0;
    display: inline-block;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.step-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.file-pickers {
    padding-top: 100px;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

input {
    width: 200px;
    height: 20px;
    transform: rotate(-90deg);
    background: transparent;
    border: none;
}